.block-gallery {
  .categories a {
    @extend .fake-underline;
    @apply tracking-widest uppercase min-w-max;

    &::before {
      content: none;
    }

    &.active::before {
      content: '';
    }

    &:hover::before {
      content: '';
      opacity: 1;
    }
  }
}