.block-room-list {
  .popup {
    animation: fade 200ms ease-out;
  }

  .swiper-pagination-bullets {
    @apply flex justify-center relative -top-10 md:-top-20 space-x-10 z-10;
  }

  .swiper-pagination-bullet {
    @apply block h-2 w-2 relative cursor-pointer bg-white bg-opacity-50 duration-200 rounded-full;

    &::before {
      @apply absolute rounded-full border border-white left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 duration-200 scale-0;
      content: '';
      width: 28px;
      height: 28px;
    }

    &:hover {
      &::before {
        @apply scale-50;
      }
    }
  }

  .swiper-pagination-bullet-active {
    @apply bg-opacity-100;

    &::before {
      @apply scale-100;
    }

    &:hover {
      &::before {
        @apply scale-100;
      }
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
