.block-slider-fleet-v3 {
    .specification-wrapper li {
        padding-top: .25rem;
        padding-bottom: .25rem;
        list-style-type: disc; 
        list-style-position: inside; 
        padding-left: 12px;
    }
    @media(max-width: 768px) {
        .specification-wrapper ul {
            font-size: 16px;
        }
        .specification-wrapper li:first-child {
            padding-top: 12px;
        }
    }
}