.block-itrac-icare {
    .item:not(:last-child)::before {
        content: "";
        position: absolute;
    }

    @media(min-width: 768px) {
        .item:not(:last-child)::before {
            top: 33%;
            bottom: 33%;
            width: 1px;
            background-color: #fff;
            right: 0;
        }
    }
    @media(max-width: 768px) {
        .item:not(:last-child)::before {
            left: 33%;
            right: 33%;
            height: 1px;
            background-color: #fff;
            bottom: -2rem;
        }
    }
}