.block-slider-fleet-v3 {
    .specification-wrapper li {
        padding-top: .25rem;
        padding-bottom: .25rem;
        list-style-type: disc; 
        list-style-position: inside; 
        padding-left: 12px;
    }
    ul.use-border {
        border-bottom: .6px solid var(--sgi-dark-grey);
    }
}