.block-slider-fleet-v5 {
    .navigation-bar::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background-color: var(--sgi-grey);
    }
    .navigation-bar .line-animation-bar {
        position: absolute;
        bottom: 0;
        height: 3px;
        background-color: var(--sgi-orange);
    }
}