.block-our-fleet {
    .fleet-options .item.active {
        color: #fff;
    }
    .fleet-options .item {
        background-color: #fff;
    }
    .fleet-options .item.active {
        background-color: #D75C00;
    }
}