@keyframes loopInfinite {
    from {
        rotate: 0;
    }
    to {
        rotate: 360deg;
    }
}

.block-header-unit {
    .loop-infinite {
        animation: 6s linear 0s infinite loopInfinite;
    }
}