.block-testimonials {
  .gutter-sizer {
    width: 8%;
    @screen md {
      width: 6%;
    }
    @screen lg {
      width: 4%;
    }
  }
  .packery-grid-item {
    @screen md {
      width: calc(88% / 3);
    }
    @screen lg {
      width: calc(92% / 3);
    }
  }
}