@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    // @apply text-gray-2;
    @apply font-sans;
  }
  @media(max-width: 768px) {
    .text-hero, .text-title {
      font-size: 22px;
      @apply font-montserrat;
    }
    .text-subtitle, .text-desc-big {
      font-size: 16px;
    }
    .text-desc-small {
      font-size: 14px;
    }
  }
  @media(min-width: 768px) {
    .text-hero {
      font-size: 44px;
      @apply font-montserrat;
    }
    .text-title {
      font-size: 36px;
      @apply font-montserrat;
    }
    .text-subtitle {
      font-size: 24px;
    }
    .text-desc-big {
      font-size: 36px;
    }
    .text-desc-small {
      font-size: 18px;
    }
  }

}

@import '~swiper/scss';
@import '~swiper/scss/effect-fade';
@import 'fonts';
@import 'header';
@import 'footer';
@import 'blocks/index';

:root {
  --sgi-orange-shade: #FF5700;
  --sgi-orange: #D75C00;
  --sgi-footer-grey: #696B6F;
  --sgi-dark-grey: #414A50;
  --sgi-grey: #636569;
  --sgi-white: #E3E3E3;
  --sgi-white-shade: #D2D2D2;
}

@media(max-width: 768px) {
  #header {
    padding-top: 25px!important;
    padding-bottom: 15px!important;
  }
  #header svg.main-logo {
    height: 65px!important;
    width: 120px!important;
  }
}